{{/* layouts/shortcodes/taxonomy-links.html */}}
{{ define "shortcodes/taxonomy-links" }}
<nav class="taxonomy-nav">
    <div class="taxonomy-section">
        <h3>Categories</h3>
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </div>
    
    <div class="taxonomy-section">
        <h3>Series</h3>
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.series }}
            <li><a href="{{ "/series/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> ({{ .Count }})</li>
            {{ end }}
        </ul>
    </div>
    
    <div class="taxonomy-section">
        <h3>Popular Tags</h3>
        <div class="tags-cloud">
            {{ range first 20 .Site.Taxonomies.tags.ByCount }}
            <a href="{{ "/tags/" | relLangURL }}{{ .Name | urlize }}" 
               class="tag-{{ if gt .Count 5 }}lg{{ else if gt .Count 3 }}md{{ else }}sm{{ end }}">
                {{ .Name }} ({{ .Count }})
            </a>
            {{ end }}
        </div>
    </div>
</nav>
{{ end }}